{{ node.body.value|raw }}

{# Playlists #}
{% for key, item in content.field_playlists if key|first != '#' %}
    {{ item }}
{% endfor %}

{#
  Fenêtre modale contenant la vidéo @see script ci-dessous)
#}
<div class="modal fade" id="modalVideo" tabindex="-1" role="dialog" aria-labelledby="modalVideoLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        {# Le script ci-dessous permet de charger automatiquement la vidéo choisie #}
      </div>
    </div>
  </div>
</div>

{#
  Script chargeant la vidéo choisit
#}
<script>
  jQuery(document).ready(function () {
    // Optimisation de la performance en ne chargeant que la vidéo sélectionnée
    jQuery('.lien_video').click(function() {
      var video_id = jQuery(this).attr("video-id");
      var video_playlist = jQuery(this).attr("video-playlist");
      var iframe_html = '<iframe src="https://www.youtube-nocookie.com/embed/'+video_id+'?list='+video_playlist+'" frameborder="0" allowfullscreen></iframe>';
      jQuery('#modalVideo').find('.modal-body').html(iframe_html);
    });
    // Script permettant de régler automatiquement la hauteur d'une vidéo en fonction de sa largeur ratio de 355/196
    var largeur_apercu_video = jQuery('.galerie_video_apercu').width();
    jQuery('.galerie_video_apercu').css('height',largeur_apercu_video*(196/355));
    jQuery('.galerie_video_apercu').css('line-height',largeur_apercu_video*(196/355) + 'px');
  });
  jQuery(window).resize(function() {
    // Script permettant de régler automatiquement la hauteur d'une vidéo en fonction de sa largeur ratio de 355/196
    var largeur_apercu_video = jQuery('.galerie_video_apercu').width();
    jQuery('.galerie_video_apercu').css('height',largeur_apercu_video*(196/355));
    jQuery('.galerie_video_apercu').css('line-height',largeur_apercu_video*(196/355) + 'px');
  });
</script>