<div class="card">
    <div class="card_img">
        {{ fields.field_actualite_image.content }}
    </div>
    <div class="card-body">
        <h2 class="card-title">{{ fields.title.content }}</h2>
        <p><em class="text-muted">{{ fields.field_actualite_date.content }}</em></p>
        <p class="card-text">{{ fields.body.content }}</p>
    </div>
</div>