<div class="row my-2">
    <div class="col-12 col-md-3">
        {{ fields.field_actualite_image.content }}
    </div>
    <div class="col-12 col-md-9">
        <p><b>{{ fields.title.content }}</b></p>
        <p>
            <em class="text-muted">{{ fields.field_actualite_date.content }}</em>
            <br>
            {{ fields.body.content }}
        </p>
    </div>
</div>